# Importing libraries

In [163]:
import pandas as pd
import numpy as np

# Loading Data

In [164]:
df = pd.read_csv('../data/data.csv', sep='\t')
print("Data load correctly!")

Data load correctly!

# Data Inspection

In [165]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34151 entries, 0 to 34150
Data columns (total 2 columns):
 #   Column                                                                          Non-Null Count  Dtype
---  ------                                                                          --------------  -----
 0   0                                                                               34151 non-null  int64
 1   donald trump sends out embarrassing new year‚s eve message; this is disturbing  34151 non-null  object
dtypes: int64(1), object(1)
memory usage: 533.7+ KB

In [166]:
df.head()

,0,donald trump sends out embarrassing new year‚s eve message; this is disturbing
0,0,drunk bragging trump staffer started russian c...
1,0,sheriff david clarke becomes an internet joke ...
2,0,trump is so obsessed he even has obama‚s name ...
3,0,pope francis just called out donald trump duri...
4,0,racist alabama cops brutalize black boy while ...

In [167]:
df['0'].value_counts()

0
0    17571
1    16580
Name: count, dtype: int64

## Check duplicates and null values

In [168]:
print("Total of null rows:\n", df.isna().sum())

Total of null rows:
 0                                                                                 0
donald trump sends out embarrassing new year‚s eve message; this is disturbing    0
dtype: int64

In [169]:
print("Total of duplciated rows:",df.duplicated().sum())
df.drop_duplicates(inplace=True)

df['0'].value_counts()

Total of duplciated rows: 1946

0
1    16181
0    16024
Name: count, dtype: int64

# Cleaning Data

In [170]:
import pandas as pd

# Obtener los nombres de las columnas
column_names = list(df.columns)

# Crear un nuevo renglón con los nombres de las columnas
new_row = {column_names[0]: column_names[0], column_names[1]: column_names[1]}

# Convertir el renglón a un DataFrame y concatenarlo
df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)

# Verificar
df.tail(1)

,0,donald trump sends out embarrassing new year‚s eve message; this is disturbing
32205,0,donald trump sends out embarrassing new year‚s...

In [171]:
# Change names of columns to better understanding
df = df.rename(columns={column_names[0]:'veracity', column_names[1]:'news'})

#Checking
df.columns

Index(['veracity', 'news'], dtype='object')

# Train test split

We'll divide our train data in 80/20 for create a test dataset and do supervised learning, we'll try to mantain the same size of data

In [175]:
# First we need to know how many it's 20% of our data
real_news_20_percent = int(df['veracity'].value_counts()[1]*0.2)
fake_news_20_percent = int(df['veracity'].value_counts()[0]*0.2)

# Get randoms sample and removing it from original dataset
real_test_sample = df[df['veracity'] == 1].sample(real_news_20_percent)
fake_test_sample = df[df['veracity'] == 0].sample(fake_news_20_percent)

df = df.drop(real_test_sample.index)
df = df.drop(fake_test_sample.index)

test_data = pd.concat([real_test_sample, fake_test_sample], ignore_index=True)

# shuffle the DataFrame rows
test_data = test_data.sample(frac = 1)

# Reset indexes
test_data = test_data.reset_index(drop=True)

# Shows new test dataframe
print(test_data.info())
print("\n")
print(test_data['veracity'].value_counts())
print("\n\n")
print(df.info())
print("\n")
print(df['veracity'].value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4122 entries, 0 to 4121
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   veracity  4122 non-null   object
 1   news      4122 non-null   object
dtypes: object(2)
memory usage: 64.5+ KB
None


veracity
1    2071
0    2051
Name: count, dtype: int64



<class 'pandas.core.frame.DataFrame'>
Index: 16491 entries, 0 to 32205
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   veracity  16491 non-null  object
 1   news      16491 non-null  object
dtypes: object(2)
memory usage: 386.5+ KB
None


veracity
1    8285
0    8205
0       1
Name: count, dtype: int64

# Save new test dataset

In [173]:
test_data.to_csv('../data/test_data.csv', index=False)
df.to_csv('../data/train_data.csv', index=False)

print("Data saved successfully!")

Data saved successfully!