# Importing libraries

In [2]:
import pandas as pd
import numpy as np

# Loading Data

In [4]:
df = pd.read_csv('../data/data.csv', sep='\t')
print("Data load correctly!")

Data load correctly!

# Data Inspection

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34151 entries, 0 to 34150
Data columns (total 2 columns):
 #   Column                                                                          Non-Null Count  Dtype
---  ------                                                                          --------------  -----
 0   0                                                                               34151 non-null  int64
 1   donald trump sends out embarrassing new year‚s eve message; this is disturbing  34151 non-null  object
dtypes: int64(1), object(1)
memory usage: 533.7+ KB

In [7]:
df.head()

,0,donald trump sends out embarrassing new year‚s eve message; this is disturbing
0,0,drunk bragging trump staffer started russian c...
1,0,sheriff david clarke becomes an internet joke ...
2,0,trump is so obsessed he even has obama‚s name ...
3,0,pope francis just called out donald trump duri...
4,0,racist alabama cops brutalize black boy while ...

In [8]:
df['0'].value_counts()

0
0    17571
1    16580
Name: count, dtype: int64

## Check duplicates and null values

In [10]:
print("Total of null rows:\n", df.isna().sum())

Total of null rows:
 0                                                                                 0
donald trump sends out embarrassing new year‚s eve message; this is disturbing    0
dtype: int64

In [11]:
print("Total of duplciated rows:",df.duplicated().sum())
df.drop_duplicates(inplace=True)

Total of duplciated rows: 1946

# Cleaning Data

In [13]:
# Set columns names as first row since is bad

# Get columns names
column_names = list(df.columns)

# Create new row with the names
new_row = {column_names[0]: column_names[0], column_names[1]: column_names[1]}

# Added as last row
df.loc[len(df)] = new_row

# Checking
df.tail()

C:\Users\Bootcamp\AppData\Local\Temp\ipykernel_27260\1592399653.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[len(df)] = new_row

,0,donald trump sends out embarrassing new year‚s eve message; this is disturbing
34146,1,tears in rain as thais gather for late king's ...
34147,1,pyongyang university needs non-u.s. teachers a...
34148,1,philippine president duterte to visit japan ah...
34149,1,japan's abe may have won election\tbut many do...
34150,1,demoralized and divided: inside catalonia's po...

In [14]:
# Change names of columns to better understanding
df = df.rename(columns={column_names[0]:'Veracity', column_names[1]:'News'})

#Checking
df.columns

Index(['Veracity', 'News'], dtype='object')

# Train test split

We'll divide our train data in 80/20 for create a test dataset and do supervised learning, we'll try to mantain the same size of data

In [17]:
# First we need to know how many it's 20% of our data
real_news_20_percent = int(df['Veracity'].value_counts()[1]*0.2)
fake_news_20_percent = int(df['Veracity'].value_counts()[0]*0.2)

# Get randoms sample and removing it from original dataset
real_test_sample = df[df['Veracity'] == 1].sample(real_news_20_percent)
fake_test_sample = df[df['Veracity'] == 0].sample(fake_news_20_percent)

df = df.drop(real_test_sample.index)
df = df.drop(fake_test_sample.index)

test_data = pd.concat([real_test_sample, fake_test_sample], ignore_index=True)

# shuffle the DataFrame rows
test_data = test_data.sample(frac = 1)

# Reset indexes
test_data = test_data.reset_index(drop=True)

# Shows new test dataframe
test_data.head()

  Veracity                                               News
0        1  kenyan opposition says a strategist arrested\t...
1        1  republican\tdemocratic senators seek answers i...
2        0  awesome: trump tweets the two rules that will ...
3        1  u.s. representative levin says he will not run...
4        0  the exact same texas lawmakers that voted agai...

# Save new test dataset

In [31]:
test_data.to_csv('../data/test_data.csv', index=False)
df.to_csv('../data/train_data.csv', index=False)

print("Data saved successfully!")